<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.dao.read.ReadRole1Mapper">
	<!-- 返回的map -->
	<resultMap id="role1" type="com.code.domain.Role1">
		<result property="ID" column="Role1_ID" />
		<result property="CreateTime" column="Role1_CreateTime" />
		<result property="ModifyTime" column="Role1_ModifyTime" />
		<result property="Status" column="Role1_Status" />
		<result property="Name" column="Role1_Name" />
		<result property="AdminID" column="Role1_AdminID" />
	</resultMap>
	<!-- sql查询语句-->
	<sql id="sql">
		Role1_ID,Role1_CreateTime,Role1_ModifyTime,Role1_Status,Role1_Name,Role1_AdminID
	</sql>
	<!-- sql查询条件-->
	<sql id="where">
		1=1 
		<if test="ID!=null">
				 and Role1_ID = #{ID}
</if>
<if test="CreateTime!=null">
				 and Role1_CreateTime = #{CreateTime}
</if>
<if test="ModifyTime!=null">
				 and Role1_ModifyTime = #{ModifyTime}
</if>
<if test="Status!=null">
				 and Role1_Status = #{Status}
</if>
<if test="Name!=null">
				 and Role1_Name = #{Name}
</if>
<if test="AdminID!=null">
				 and Role1_AdminID = #{AdminID}
</if>

		<!-- 这边要数据自己处理 -->
		<if test="search != null">
			and (
				Role1_ID like CONCAT(CONCAT('%', #{search,jdbcType=VARCHAR}),'%') or 
				Role1_CreateTime like CONCAT(CONCAT('%', #{search,jdbcType=VARCHAR}),'%') or 
				Role1_ModifyTime like CONCAT(CONCAT('%', #{search,jdbcType=VARCHAR}),'%') or 
				Role1_Status like CONCAT(CONCAT('%', #{search,jdbcType=VARCHAR}),'%') or 
				Role1_Name like CONCAT(CONCAT('%', #{search,jdbcType=VARCHAR}),'%') or 
				Role1_AdminID like CONCAT(CONCAT('%', #{search,jdbcType=VARCHAR}),'%') or 
				
				1 != 1
			)
		</if>
	</sql>
	<!-- 根据ID 查找-->
	<select id="findById" resultMap="role1" parameterType="long">
		SELECT
		<include refid="sql"></include>
		FROM t_Role1
		<where>
			Role1_ID = #{_parameter} 
		</where>
	</select>
	<!-- 根据条件 查找-->
	<select id="query"  resultMap="role1"
		parameterType="java.util.Map">
		SELECT
		<include refid="sql"></include>
		FROM t_Role1
		<where>
			<include refid="where"></include>
		</where>
	
	</select>
	<!-- 根据条件总数-->
	<select id="queryCount" parameterType="map" resultType="int">
		SELECT
			Count(1)
			FROM t_Role1
			<where>
				<include refid="where"></include>
			</where>
	</select>



</mapper>
