<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.dao.write.Role1Mapper">
	<sql id="sql">
		Role1_ID,Role1_CreateTime,Role1_ModifyTime,Role1_Status,Role1_Name,Role1_AdminID
	</sql>
	<sql id="where">
		1=1 
		<if test="ID!=null">
				 and Role1_ID = #{ID}
</if>
<if test="CreateTime!=null">
				 and Role1_CreateTime = #{CreateTime}
</if>
<if test="ModifyTime!=null">
				 and Role1_ModifyTime = #{ModifyTime}
</if>
<if test="Status!=null">
				 and Role1_Status = #{Status}
</if>
<if test="Name!=null">
				 and Role1_Name = #{Name}
</if>
<if test="AdminID!=null">
				 and Role1_AdminID = #{AdminID}
</if>

	</sql>

	<!-- 插入数据 -->
	<insert id="insert" parameterType="com.code.domain.Role1"  useGeneratedKeys="true">
		insert into t_Role1( <include refid="sql"></include> )
		values(
				#{ID},
now(),
now(),
#{Status},
#{Name},
#{AdminID}
				)
	</insert>
	<update id="update" parameterType="com.code.domain.Role1">
		update t_Role1 set Role1_ModifyTime = now(),Role1_Status = #{Status},Role1_Name = #{Name},Role1_AdminID = #{AdminID}
		<where>
			Role1_ID= #{ID} 
		</where>
	</update>


	<!-- 根据编号删除 by majian-->
	<update id="deleteById" parameterType="com.code.domain.Role1">
		update t_Role1 set Role1_Status=88 where Role1_ID = #{_parameter} 
	</update>

	<!-- 根据编号恢复 by majian-->
	<update id="recoverByID" parameterType="com.code.domain.Role1">
		update t_Role1 set Role1_Status=1 where Role1_ID = #{_parameter} 
	</update>

	<!-- 根据条件删除 by majian-->
	<update id="deleteByCondition" parameterType="com.code.domain.Role1">
		update t_Role1 set Role1_Status=88 
		<where>
			<include refid="where"></include>
		</where>
	</update>

	<!-- 根据条件恢复 by majian-->
	<update id="recoverByCondition" parameterType="com.code.domain.Role1">
		update t_Role1 set Role1_Status=1 
		<where>
			<include refid="where"></include>
		</where>
	</update>


</mapper>
