<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.dao.write.Role2Mapper">
	<sql id="sql">
		Role2_ID,Role2_CreateTime,Role2_ModifyTime,Role2_Status,Role2_Name,Role2_AdminID
	</sql>
	<sql id="where">
		1=1 
		<if test="ID!=null">
				 and Role2_ID = #{ID}
</if>
<if test="CreateTime!=null">
				 and Role2_CreateTime = #{CreateTime}
</if>
<if test="ModifyTime!=null">
				 and Role2_ModifyTime = #{ModifyTime}
</if>
<if test="Status!=null">
				 and Role2_Status = #{Status}
</if>
<if test="Name!=null">
				 and Role2_Name = #{Name}
</if>
<if test="AdminID!=null">
				 and Role2_AdminID = #{AdminID}
</if>

	</sql>

	<!-- 插入数据 -->
	<insert id="insert" parameterType="com.code.domain.Role2"  useGeneratedKeys="true">
		insert into t_Role2( <include refid="sql"></include> )
		values(
				#{ID},
now(),
now(),
#{Status},
#{Name},
#{AdminID}
				)
	</insert>
	<update id="update" parameterType="com.code.domain.Role2">
		update t_Role2 set Role2_ModifyTime = now(),Role2_Status = #{Status},Role2_Name = #{Name},Role2_AdminID = #{AdminID}
		<where>
			Role2_ID= #{ID} 
		</where>
	</update>


	<!-- 根据编号删除 by majian-->
	<update id="deleteById" parameterType="com.code.domain.Role2">
		update t_Role2 set Role2_Status=88 where Role2_ID = #{_parameter} 
	</update>

	<!-- 根据编号恢复 by majian-->
	<update id="recoverByID" parameterType="com.code.domain.Role2">
		update t_Role2 set Role2_Status=1 where Role2_ID = #{_parameter} 
	</update>

	<!-- 根据条件删除 by majian-->
	<update id="deleteByCondition" parameterType="com.code.domain.Role2">
		update t_Role2 set Role2_Status=88 
		<where>
			<include refid="where"></include>
		</where>
	</update>

	<!-- 根据条件恢复 by majian-->
	<update id="recoverByCondition" parameterType="com.code.domain.Role2">
		update t_Role2 set Role2_Status=1 
		<where>
			<include refid="where"></include>
		</where>
	</update>


</mapper>
